.main{
	width:90%;
	height:250px;
	background-color:#f5f5f5;
	padding:30px;
	margin:10px;
}

.text{
	background-color:white;
	 font-size:10px;
	border:1px solid #f5f5f5;
	margin:10px;
	padding:10px
}
.author{
	text-align:right;
	font-style:italic;
}
